/* Header */
body {
  margin: 0;
  background: #12c2e9;
  background: linear-gradient(45deg, #4f95f6, #c471ed, #12c2e9);
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  user-select: none;
}

header {
  background-color: #0282b5;
  margin: 0;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: inline-flex;
}

/* Input text */

select {
  cursor: pointer;
  font-family: Tahoma, sans-serif;
  height: 30px;
  width: 200px;
  border: 3.5px solid #0e469f;
  border-radius: 4px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

select:focus {
  outline: none;
  border: 3.5px solid #2a77f3;
}

select:hover {
  box-shadow: 0 3px 20px rgba(255, 255, 255, 0.714);
}

/* Button ACPM */

#btnACPM {
  background-color: #426d95;
  border: 0px solid #ffffff;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  height: 30px;
  width: 175px;
  box-shadow: 0 4px 14px 0 rgba(65, 103, 168, 0.382);
}

/* Button Itinerary */

#btnItinerary {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 35px;
  height: 40px;
  border-radius: 7px;
  background-color: #0e469f;
  color: white;
  font-size: 14px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  -webkit-transition: 0.2s ease;
  transition: 0.3s ease;
}

#btnItinerary:hover {
  background-color: #195cc7;
  box-shadow: 0 3px 20px rgba(255, 255, 255, 0.581);
}

#btnItinerary:active {
  background-color: #317af0;
}

/* Disable the blue highlight when you select the image */
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

p {
  font-size: 17px;
  color: white;
  font-family: Tahoma, sans-serif;
}

.beautiful{
  flex-grow: 1;
  flex-basis: 10rem;
  max-width: 40rem;
  background-color: gray;
  border-radius: 5px;
  height: 10rem;
  margin-right: 50px;
  padding: 30px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  font-size: 2.5em;
  color: #aaa;
  overflow: hidden;
}